@page
@using GHCW_FE.DTOs
@model GHCW_FE.Pages.Promotions.DetailModel
@{
    ViewData["Title"] = @Model.News.Title;
}

<!-- News Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
                <!-- News Detail Start -->
                @if (Model.News != null)
                {
                    <div class="pb-3">
                        <div class="">
                            <div class="d-flex m-3">
                                <a class="text-primary text-uppercase text-decoration-none" asp-page="/Promotions/Index">Khuyến mãi</a>
                                <span class="text-primary px-2">|</span>
                                <a class="text-black text-uppercase text-decoration-none" href="">@Model.News.Title</a>
                            </div>
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="@Model.News.Image" alt="">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold text-white mb-n1">
                                        @Model.News.UploadDate.ToString("dd/MM")
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 bg-white" style="padding: 30px;">
                            <h2 class="mb-3">@Model.News.Title</h2>
                            @if (Model.News.Discount.IsAvailable == false)
                            {
                                <p class="text-primary">(Khuyến mãi đã hết hiệu lực)</p>
                            }
                            else
                            {
                                <p class="text-primary">
                                    Khuyến mãi được áp dụng từ ngày
                                    @Model.News.Discount.StartDate.ToString("dd/MM") đến ngày
                                    @Model.News.Discount.EndDate.ToString("dd/MM")
                                </p>
                                <p class="text-primary">
                                    Trong thời gian khuyến mãi có hiệu lực, khi áp dụng mã
                                    <b>@Model.News.Discount.Code</b>,
                                    quý khách sẽ được khuyến mãi @Model.News.Discount.Value% khi thanh toán dịch vụ
                                </p>
                            }
                            <p>
                                @Html.Raw(Model.News.Description)
                            </p>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="text-primary">
                        @Model.Message
                    </h2>
                }
                <!-- News Detail End -->
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="mb-5">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px; padding-top: 3rem;">Khuyến mãi khác</h4>
                    @foreach (NewsDTO d in Model.NewsDtos)
                    {
                        <a class="d-flex align-items-center text-decoration-none bg-white mb-3" asp-route-Id="@d.Id">
                            <img class="img-fluid" src="@d.Image" alt="" style="width: 100px; height: 80px;">
                            <div class="pl-3 m-1">
                                <h6>@d.Title</h6>
                                <small>
                                    @d.Discount.StartDate.ToString("dd/MM/yyyy") - @d.Discount.EndDate.ToString("dd/MM/yyyy")
                                </small>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News End -->
<!-- Promotions End -->
