@page
@model GHCW_FE.Pages.Authentications.BookingDetailsModel
@{
    ViewData["Title"] = "Chi tiết vé";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Booking Details Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h3>Thông tin đặt vé #@Model.TicketId</h3>
        <div class="ticket-details-table">
            @if (Model.TicketDetails.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Dịch Vụ</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Giảm giá</th>
                            <th>Tổng giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticketDetail in Model.TicketDetails)
                        {
                            var discountCode = ticketDetail.Ticket.DiscountCode;
                            var discount = Model.DiscountDTOs.FirstOrDefault(d => d.Code == discountCode);
                            decimal discountValue = discount?.Value ?? 0;

                            <tr>
                                <td>@ticketDetail.Service.Name</td>
                                <td>@ticketDetail.Quantity</td>
                                <td>@String.Format("{0:N0} VNĐ",(int)ticketDetail.Price * 1000)</td>
                                <td>@discountValue%</td>
                                <td>@String.Format("{0:N0} VNĐ",(int)ticketDetail.Total * 1000)</td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div class="total-amount">
                    <h5>Tổng cộng: @String.Format("{0:N0} VNĐ", Model.TotalBeforeDiscount * 1000)</h5>
                    <p>Giảm giá: -@String.Format("{0:N0} VNĐ", Model.DiscountPrice * 1000)</p>
                    <h5>Cần thanh toán: @String.Format("{0:N0} VNĐ", Model.TotalAmount * 1000)</h5>

                </div>
            }
            else
            {
                <p class="text-muted">Không có chi tiết vé nào.</p>
            }
        </div>
    </div>
</div>

<div class="back-button-container">
    <button class="btn-back" onclick="window.location.href='/Authentications/BookingList'"> << Quay lại</button>
</div>

<style>
    .ticket-details-table {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .total-amount {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        text-align: right;
        margin-top: 20px;
    }

    .back-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        padding-right: 98px;
    }

    .btn-back {
        background-color: #42A5F5;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
    }

        .btn-back:hover {
            background-color: #1E88E5;
        }
</style>