@page
@using GHCW_FE.DTOs
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Tham quan & Nghỉ dưỡng</h4>
                        <h1 class="display-3 text-white mb-md-4">Trải nghiệm nghỉ dưỡng cao cấp</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Đặt vé ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="d-flex justify-content-center align-items-center" style="min-height:60px;">
                <div class="d-flex align-items-center">
                    <label>Chọn ngày sử dụng dịch vụ:&nbsp;&nbsp;</label>
                    <div class="date" id="date1" data-target-input="nearest">
                        @* <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Chọn ngày"
                        data-target="#date1" data-toggle="datetimepicker" style="width: 100%;" /> *@
                        <input id="dateInput" type="date" class="form-control p-4" placeholder="Chọn ngày" style="width: 100%;" />
                    </div>
                </div>
                <div class="ml-2">
                    <button class="btn btn-primary btn-block" type="submit" style="height: 47px;">Đặt vé</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h1 class="mb-3">Mang đến cho bạn trải nghiệm nghỉ dưỡng tuyệt vời</h1>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="/img/about-1.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="/img/about-2.jpg" alt="">
                        </div>
                    </div>
                    <a href="/About" class="btn btn-primary mt-1">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About End -->
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Tin tức</h6>
            <h1>Tin tức mới nhất</h1>
        </div>
        <div class="row pb-3">
            @foreach (NewsDTO n in Model.NewsDtos)
            {
                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="blog-item">
                        <div class="position-relative">
                            <img class="img-fluid w-100 service-image" src="@n.Image" alt="">
                            <div class="blog-date">
                                <h6 class="font-weight-bold text-white mb-n1">@n.UploadDate.Value.Day / @n.UploadDate.Value.Month</h6>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="d-flex mb-2">
                                <a class="text-primary text-uppercase text-decoration-none" href="">@n.Title</a>
                            </div>
                            <a class="h5 m-0 text-decoration-none service-description" href="">@n.Description</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Dịch vụ</h6>
            <h1>Các dịch vụ của chúng tôi</h1>
        </div>
        <div class="row">
            @foreach (ServiceDTO s in Model.ServiceDtos)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid w-100 service-image" src="@s.Image" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-clock text-primary mr-2"></i>@s.Time</small>
                                <h5 class="m-0">@(s.Price * 1000)₫</h5>
                            </div>
                            <a class="h5 text-decoration-none service-description" href="">@s.Name</a>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
<!-- Packages End -->

<script>
    // Thiết lập thuộc tính min cho input date để không cho phép chọn ngày trong quá khứ
    document.addEventListener("DOMContentLoaded", function () {
        const today = new Date().toISOString().split('T')[0]; // Lấy ngày hiện tại
        document.getElementById("dateInput").setAttribute("min", today); // Thiết lập thuộc tính min
    });
</script>

<style>
    .service-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 4.5em;
    }

    .service-image {
        min-height: 150px;
        max-height: 250px;
    }
</style>