@using GHCW_FE.DTOs
@using System.Text.Json
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trung tâm khoáng nóng địa chất</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GHCW_FE.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Topbar Start -->
        <div class="container-fluid bg-light pt-3 d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 text-center text-lg-left mb-2 mb-lg-0">
                        <div class="d-inline-flex align-items-center">
                            <p><i class="fa fa-envelope mr-2"></i>trungtamkhoangnongdiachat@email.com</p>
                            <p class="text-body px-1">|</p>
                            <p><i class="fa fa-phone-alt mr-2"></i>02033 860 669 - 0969 365 916</p>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center text-lg-right">
                        <div class="d-inline-flex align-items-center">
                            <a class="text-primary px-3" href="https://www.facebook.com/p/Trung-t%C3%A2m-kho%C3%A1ng-n%C3%B3ng-%C4%90%E1%BB%8Ba-ch%E1%BA%A5t-100089380076299/?locale=vi_VN">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0">
            <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
                <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                    <a asp-page="/Index" class="navbar-brand">
                        <h1 class="m-0 text-primary"><span class="text-dark">GH</span>CW</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <a asp-page="/Index" class="nav-item nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")">Trang chủ</a>
                            <a asp-page="/News/Index" class="nav-item nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/News/Index" || ViewContext.RouteData.Values["page"]?.ToString() == "/News/Detail" ? "active" : "")">Tin tức</a>
                            <a asp-page="/Promotions/Index" class="nav-item nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Promotions/Index" || ViewContext.RouteData.Values["page"]?.ToString() == "/Promotions/Detail" ? "active" : "")">Khuyến mãi</a>
                            <a asp-page="/Services/Index" class="nav-item nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Services/Index" || ViewContext.RouteData.Values["page"]?.ToString() == "/Services/Detail" ? "active" : "")">Dịch vụ</a>
                            <a asp-page="/Booking/Index" class="nav-item nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Booking/Index" ? "active" : "")">Đặt vé</a>
                            <a asp-page="/About" class="nav-item nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/About" ? "active" : "")">Giới thiệu</a>
                            @if (Context.Session.GetString("acc") != null)
                            {
                                var account = JsonSerializer.Deserialize<AccountDTO>(Context.Session.GetString("acc"));
                                <div class="nav-item dropdown">
                                    <span class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" style="cursor: pointer;">
                                        @account.Name
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        @if (account.Role <= 1)
                                        {
                                            <a class="dropdown-item" asp-page="/Admin/Dashboard">Trang quản lý</a>
                                        }
                                        <a class="dropdown-item" asp-page="/Authentications/UserProfile">Thông tin cá nhân</a>
                                        <a class="dropdown-item" asp-page="/Authentications/ChangePassword">Đổi mật khẩu</a>
                                        <form method="post" class="dropdown-item" asp-page="/Authentications/Login" asp-page-handler="LogOut" style="width:100%">
                                            <button type="submit" style="border:none; background:none; padding:0; text-align:left;">Đăng xuất</button>
                                        </form>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <a asp-page="/Authentications/Login" class="nav-item nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Authentications/Login" ? "active" : "")">Đăng nhập</a>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
            <div class="row pt-5">
                <div class="col-lg-3 col-md-6 mb-5">
                    <a href="" class="navbar-brand">
                        <h1 class="text-primary"><span class="text-white">GH</span>CW</h1>
                    </a>
                    <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Kết nối với chúng tôi</h6>
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/p/Trung-t%C3%A2m-kho%C3%A1ng-n%C3%B3ng-%C4%90%E1%BB%8Ba-ch%E1%BA%A5t-100089380076299/?locale=vi_VN"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Dịch vụ</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" asp-page="/News/Index"><i class="fa fa-angle-right mr-2"></i>Tin tức</a>
                        <a class="text-white-50 mb-2" asp-page="/Promotions/Index"><i class="fa fa-angle-right mr-2"></i>Khuyến mãi</a>
                        <a class="text-white-50 mb-2" asp-page="/Services/Index"><i class="fa fa-angle-right mr-2"></i>Dịch vụ</a>
                        <a class="text-white-50 mb-2" asp-page="/Book/Index"><i class="fa fa-angle-right mr-2"></i>Đặt vé</a>
                        <a class="text-white-50 mb-2" asp-page="/About"><i class="fa fa-angle-right mr-2"></i>Về chúng tôi</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Liên hệ</h5>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Km4, tổ 1, khu Long Thạch A, phường Cẩm Thạch, thành phố Cẩm Phả, tỉnh Quảng Ninh</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>02033 860 669 - 0969 365 916</p>
                    <p><i class="fa fa-envelope mr-2"></i>trungtamkhoangnongdiachat@email.com</p>
                    <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Đăng ký nhận thông tin ưu đãi</h6>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Nhập Email của bạn">
                            <div class="input-group-append">
                                <button class="btn btn-primary px-3">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/mail/contact.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>